.hover-menu-dynamic {
  position: relative;
  display: inline-block;
}

.hover-menu-btn {
  color: #ddd !important;
  text-decoration: none !important;
}

.hover-menu-btn:hover {
  color: #fff !important;
}

.hover-dropdown-dynamic {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 0.75rem 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 700px;
  border-radius: 4px;
  z-index: 1050;
}

.hover-item {
  flex: 0 0 100px;
  color: #333;
  text-decoration: none;
}

.hover-item:hover {
  color: #0073bb;
  cursor: pointer;
}

.hover-item-img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}
