.cart-item-card:hover {
  transform: translateY(-2px);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.btn-outline-primary:hover {
  background-color: #0d6efd;
  color: #fff !important;
  transition: 0.2s ease-in-out;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: #fff !important;
  transition: 0.2s ease-in-out;
}
