.bestseller-ribbon-wrapper {
  position: absolute;
  top: 10px;
  left: -40px;
  width: 150px;
  transform: rotate(-45deg);
  text-align: center;
  z-index: 10;
}

.bestseller-ribbon {
  display: block;
  background-color: #ffa41c;
  color: #111;
  font-weight: bold;
  font-size: 0.75rem;
  padding: 6px 0;
  text-transform: uppercase;
  border: 1px solid #e59400;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
