server:
  port: 9191

spring:
  application:
    name: API-GATEWAY
  config:
    import: "configserver:http://localhost:9000"

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoint:
    gateway:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,metrics,loggers,env,beans,httpexchanges,gateway